* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    background:#080808;
    color:#e8e1d5;

    font-family:"Inter", sans-serif;

    line-height:1.8;

}



.container {

    width:90%;
    max-width:1200px;
    margin:auto;

}




/* Navigation */


nav {

    position:absolute;
    top:0;
    width:100%;
    padding:35px 0;
    z-index:20;

}



.nav-container {

    display:flex;
    justify-content:space-between;
    align-items:center;

}



.logo {

    font-family:"Playfair Display", serif;

    color:#c8a96a;

    font-size:22px;

    letter-spacing:6px;

}



.nav-links {

    display:flex;
    gap:45px;

}


.nav-links a {

    color:#ddd;

    text-decoration:none;

    font-size:13px;

    letter-spacing:2px;

    transition:.4s;

}


.nav-links a:hover {

    color:#c8a96a;

}




/* Hero */


.hero {

    min-height:100vh;

    display:flex;

    align-items:center;

    text-align:center;


    background:

    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.95)
    ),

    url("hero.png");


    background-size:cover;

    background-position:center;

}



.small-title {

    letter-spacing:12px;

    font-size:13px;

    color:#c8a96a;

    margin-bottom:45px;

}



.hero h1 {


    font-family:"Playfair Display", serif;


    font-size:75px;


    font-weight:400;


    line-height:1.15;


    margin-bottom:35px;


}



.hero p {


    font-size:22px;


    color:#d2cbc0;


}




/* Buttons */


.button {


    display:inline-block;


    margin-top:45px;


    padding:16px 45px;


    border:1px solid #c8a96a;


    color:#c8a96a;


    text-decoration:none;


    letter-spacing:3px;


    font-size:13px;


    transition:.4s;


}



.button:hover {


    background:#c8a96a;


    color:#080808;


}





/* Sections */


section {

    padding:120px 0;

}



h2 {


    font-family:"Playfair Display", serif;


    font-weight:400;


    font-size:55px;


    color:#c8a96a;


    margin-bottom:40px;


}



.text {


    max-width:850px;


    font-size:21px;


    color:#cfc8bc;


}




.dark-section {

    background:#111;

}





/* Footer */


footer {


    padding:70px 20px;


    text-align:center;


    background:#050505;


    color:#777;


    letter-spacing:3px;


}
